h1 {
  font-size: 3vw;
  color: black
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1vw;
}

body {
  background-color: black;
  color:yellow
}

div {
  background-color: yellow;
  color: white;
}

font {
  color: greenyellow;
}